
{% extends 'frontend.html' %}
{% load url from future %}
{% block content %}
<!-- True containers (keep the content inside containers!) -->
    <div class="container_gamma breadcrumbs">
        <p><span>&raquo;</span><a href="index.html">Home</a><span>&raquo;</span><a href="#">404 :: Page Not Found</a></p>
    </div>
    <div class="container_omega">
    
        <div class="hr"></div>
        <h1 class="e404 alignleft"><strong>[404]</strong></h1>
        <h1>Page can not be found.</h1>
        <h6 class="e404">We are sorry, but the page you are looking for might have been removed, had its name changed or is temporarily unavailable.</h6>
        
        <p><a href="/" class="superbutton">Get me back to homepage!</a></p>
        
        <div class="clearfix"></div>
        <div class="hr"></div>
    </div>
{% endblock %}
