{% extends 'frontend.html' %}
{% block content %}
    <div class="container_gamma breadcrumbs">
        <p><span>&raquo;</span><a href="index.html">Home</a><span>&raquo;</span><a href="#">Pricing</a></p>
    </div>
    <div class="container_omega">
    <div class="gs_12">
    <h2>Get started for free. Upgrade when you want.<span>Or, start with a subscription and get all of SpecialAgent.me&apos;s benefits right away.</span></h2>
    <div class="hr"></div>
        <div class="pricing">
            <div class="pricing_column">
                <div class="pricing_blurb"><h3>FREE</h3><h2>$0</h2></div>
                <div class="specs"><p>Per year</p></div>
                <div class="specs"><p>1TB Bandwidth</p></div>
                <div class="specs"><p>1GB Space</p></div>
                <div class="specs"><p><img src="/_/css/frontend/img/check.png" alt="" /> Hot Dogs</p></div>
                <div class="buyme"><p><a href="#" class="superbutton">Sign Up</a></p></div>
            </div>
            <div class="pricing_column">
                <div class="pricing_blurb"><h3>AGENT</h3><h2>$8/mo</h2></div>
                <div class="specs"><p>Per year</p></div>
                <div class="specs"><p>2TB Bandwidth</p></div>
                <div class="specs"><p>2GB Space</p></div>
                <div class="specs"><p><img src="/_/css/frontend/img/check.png" alt="" /> Cheeseburgers</p></div>
                <div class="buyme"><p><a href="#" class="superbutton">Subscribe</a></p></div>
            </div>
        </div>
    </div>
{% endblock %}
