.typeface-2dumb                           { font-family: '2DumbRegular'; }
.typeface-3dumb                           { font-family: '3DumbRegular'; }
.typeface-aaargh                          { font-family: 'AaarghNormal'; }
/* .typeface-aftasansitalic               { font-family: 'AftasansItalic'; } */
.typeface-aftasans                        { font-family: 'AftasansRegular'; }
.typeface-anagram                         { font-family: 'AnagramRegular'; }
.typeface-aurulentsans                    { font-family: 'AurulentSansRegular'; }
/* .typeface-aurulentsansitalic           { font-family: 'AurulentSansItalic'; } */
/* .typeface-aurulentsansbold             { font-family: 'AurulentSansBold'; } */
/* .typeface-aurulentsansbolditalic       { font-family: 'AurulentSansBoldItalic'; } */
.typeface-ballpark                        { font-family: 'BallparkWeiner'; }
.typeface-bebasneue                       { font-family: 'BebasNeueRegular'; }
.typeface-bevan                           { font-family: 'BevanRegular'; }
.typeface-bitstreamverasans               { font-family: 'BitstreamVeraSansRoman'; }
/* .typeface-bitstreamverasansoblique     { font-family: 'BitstreamVeraSansOblique'; } */
/* .typeface-bitstreamverasansbold        { font-family: 'BitstreamVeraSansBold'; } */
/* .typeface-bitstreamverasansboldoblique { font-family: 'BitstreamVeraSansBoldOblique'; } */
.typeface-calligraffiti                   { font-family: 'CalligraffitiRegular'; }
.typeface-charissil                       { font-family: 'CharisSILRegular'; }
/* .typeface-charissilitalic              { font-family: 'CharisSILItalic'; } */
/* .typeface-charissilbold                { font-family: 'CharisSILBold'; } */
/* .typeface-charissilbolditalic          { font-family: 'CharisSILBoldItalic'; } */
.typeface-chunkfive                       { font-family: 'ChunkFiveRegular'; }
.typeface-default                         { font-family: Arial, Helmet, Freesans, sans-serif; }
.typeface-destroy                         { font-family: 'DestroyRegular'; }
.typeface-devroye                         { font-family: 'DevroyeRegular'; }
/* .typeface-devroyeextra                    { font-family: 'DevroyeExtraRegular'; } */
.typeface-district                        { font-family: 'DistrictRegular'; }
.typeface-ebgaramond                      { font-family: 'EBGaramondRegular'; }
/* .typeface-ebgaramondsc                    { font-family: 'EBGaramondSC'; } */
.typeface-elliotsix                       { font-family: 'ElliotSixRegular'; }
.typeface-eraser                          { font-family: 'EraserRegular'; }
.typeface-fanwood                         { font-family: 'FanwoodRegular'; }
/* .typeface-fanwooditalic                   { font-family: 'FanwoodItalic'; } */
.typeface-ffftusjbold                     { font-family: 'FFFTusjBold'; }
.typeface-gladifiltheftegladifilthefte    { font-family: 'GladifilthefteGladifilthefte'; }
.typeface-goudybookletter1911             { font-family: 'GoudyBookletter1911Regular'; }
.typeface-harabarahanditalic              { font-family: 'HarabaraHandItalic'; }
.typeface-hillhousemedium                 { font-family: 'HillHouseMedium'; }
.typeface-honeyscriptlight                { font-family: 'HoneyScriptLight'; }
.typeface-impactlabel                     { font-family: 'ImpactLabelRegular'; }
/* .typeface-impactlabelreversed             { font-family: 'ImpactLabelReversedRegular'; } */
.typeface-jinky                           { font-family: 'JinkyRegular'; }
.typeface-justoldfashion                  { font-family: 'JustOldFashionRegular'; }
.typeface-komikatitle                     { font-family: 'KomikaTitleRegular'; }
/* .typeface-komikatitle                     { font-family: 'KomikaTitle-Paint'; } */
/* .typeface-komikatitlewide                 { font-family: 'KomikaTitleWideRegular'; } */
/* .typeface-komikatitleaxis                 { font-family: 'KomikaTitleAxisRegular'; } */
/* .typeface-komikatitlekaps                 { font-family: 'KomikaTitleKapsRegular'; } */
.typeface-kristimedium                    { font-family: 'KristiMedium'; }
.typeface-lindenhill                      { font-family: 'LindenHillRegular'; }
/* .typeface-lindenhillitalic                { font-family: 'LindenHillItalic'; } */
.typeface-marketingscript                 { font-family: 'MarketingScriptRegular'; }
.typeface-mutluornamental                 { font-family: 'MutluOrnamental'; }
.typeface-powellantique                   { font-family: 'PowellAntiqueRegular'; }
.typeface-raleway                         { font-family: 'RalewayThin'; }
.typeface-riesling                        { font-family: 'RieslingRegular'; }
.typeface-romancaps                       { font-family: 'RomanCapsRegular'; }
/* .typeface-scriptina                       { font-family: 'Scriptina-Alternates'; } */
.typeface-scriptina                       { font-family: 'ScriptinaRegular'; }
.typeface-seasideresortnf                 { font-family: 'SeasideResortNFRegular'; }
.typeface-serif                           { font-family: Baskerville, Georgia, Cambria, Times, Times New Roman, serif; }
.typeface-sfwondercomic                   { font-family: 'SFWonderComicRegular'; }
/* .typeface-sfwondercomicitalic             { font-family: 'SFWonderComicItalic'; } */
/* .typeface-sfwondercomicbold               { font-family: 'SFWonderComicBold'; } */
/* .typeface-sfwondercomicbolditalic         { font-family: 'SFWonderComicBoldItalic'; } */
.typeface-sfwondercomicinline             { font-family: 'SFWonderComicInlineRegular'; }
/* .typeface-sfwondercomicinlineitalic       { font-family: 'SFWonderComicInlineItalic'; } */
/* .typeface-sfwondercomicblotch             { font-family: 'SFWonderComicBlotchRegular'; } */
/* .typeface-sfwondercomicblotchitalic       { font-family: 'SFWonderComicBlotchItalic'; } */
.typeface-slingnormal                     { font-family: 'SlingNormal'; }
/* .typeface-slinglight                      { font-family: 'SlingLight'; } */
/* .typeface-slingbold                       { font-family: 'SlingBold'; } */
.typeface-snickles                        { font-family: 'SnicklesRegular'; }
.typeface-soucisans                       { font-family: 'SouciSansRegular'; }
.typeface-tenderness                      { font-family: 'TendernessRegular'; }
.typeface-uppereastside                   { font-family: 'UpperEastSideRegular'; }
.typeface-vag                             { font-family: 'VAG-HandWritteVAG-HandWritten'; }
.typeface-windsong                        { font-family: 'WindsongRegular'; }

@font-face {
    font-family: 'BallparkWeiner';
    src: url('../fonts/ballpark/ballpark_weiner-webfont.eot');
    src: url('../fonts/ballpark/ballpark_weiner-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ballpark/ballpark_weiner-webfont.woff') format('woff'),
         url('../fonts/ballpark/ballpark_weiner-webfont.ttf') format('truetype'),
         url('../fonts/ballpark/ballpark_weiner-webfont.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayThin';
    src: url('../fonts/raleway/raleway_thin-webfont.eot');
    src: url('../fonts/raleway/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway_thin-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway_thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway/raleway_thin-webfont.svg#RalewayThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '3DumbRegular';
    src: url('../fonts/3dumb/3Dumb-webfont.eot');
    src: url('../fonts/3dumb/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/3dumb/3Dumb-webfont.woff') format('woff'),
         url('../fonts/3dumb/3Dumb-webfont.ttf') format('truetype'),
         url('../fonts/3dumb/3Dumb-webfont.svg#3DumbRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '2DumbRegular';
    src: url('../fonts/3dumb/2Dumb-webfont.eot');
    src: url('../fonts/3dumb/2Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/3dumb/2Dumb-webfont.woff') format('woff'),
         url('../fonts/3dumb/2Dumb-webfont.ttf') format('truetype'),
         url('../fonts/3dumb/2Dumb-webfont.svg#2DumbRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AaarghNormal';
    src: url('../fonts/aaargh/Aaargh-webfont.eot');
    src: url('../fonts/aaargh/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aaargh/Aaargh-webfont.woff') format('woff'),
         url('../fonts/aaargh/Aaargh-webfont.ttf') format('truetype'),
         url('../fonts/aaargh/Aaargh-webfont.svg#AaarghNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AftasansItalic';
    src: url('../fonts/afta_sans/AftaSansThin-Italic-webfont.eot');
    src: url('../fonts/afta_sans/AftaSansThin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/afta_sans/AftaSansThin-Italic-webfont.woff') format('woff'),
         url('../fonts/afta_sans/AftaSansThin-Italic-webfont.ttf') format('truetype'),
         url('../fonts/afta_sans/AftaSansThin-Italic-webfont.svg#AftasansItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AftasansRegular';
    src: url('../fonts/afta_sans/AftaSansThin-Regular-webfont.eot');
    src: url('../fonts/afta_sans/AftaSansThin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/afta_sans/AftaSansThin-Regular-webfont.woff') format('woff'),
         url('../fonts/afta_sans/AftaSansThin-Regular-webfont.ttf') format('truetype'),
         url('../fonts/afta_sans/AftaSansThin-Regular-webfont.svg#AftasansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AnagramRegular';
    src: url('../fonts/anagram/Anagram-webfont.eot');
    src: url('../fonts/anagram/Anagram-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/anagram/Anagram-webfont.woff') format('woff'),
         url('../fonts/anagram/Anagram-webfont.ttf') format('truetype'),
         url('../fonts/anagram/Anagram-webfont.svg#AnagramRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AurulentSansRegular';
    src: url('../fonts/aurulent_sans/AurulentSans-Regular-webfont.eot');
    src: url('../fonts/aurulent_sans/AurulentSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aurulent_sans/AurulentSans-Regular-webfont.woff') format('woff'),
         url('../fonts/aurulent_sans/AurulentSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/aurulent_sans/AurulentSans-Regular-webfont.svg#AurulentSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AurulentSansItalic';
    src: url('../fonts/aurulent_sans/AurulentSans-Italic-webfont.eot');
    src: url('../fonts/aurulent_sans/AurulentSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aurulent_sans/AurulentSans-Italic-webfont.woff') format('woff'),
         url('../fonts/aurulent_sans/AurulentSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/aurulent_sans/AurulentSans-Italic-webfont.svg#AurulentSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AurulentSansBold';
    src: url('../fonts/aurulent_sans/AurulentSans-Bold-webfont.eot');
    src: url('../fonts/aurulent_sans/AurulentSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aurulent_sans/AurulentSans-Bold-webfont.woff') format('woff'),
         url('../fonts/aurulent_sans/AurulentSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/aurulent_sans/AurulentSans-Bold-webfont.svg#AurulentSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AurulentSansBoldItalic';
    src: url('../fonts/aurulent_sans/AurulentSans-BoldItalic-webfont.eot');
    src: url('../fonts/aurulent_sans/AurulentSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aurulent_sans/AurulentSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/aurulent_sans/AurulentSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/aurulent_sans/AurulentSans-BoldItalic-webfont.svg#AurulentSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/bebas_neue/BebasNeue-webfont.eot');
    src: url('../fonts/bebas_neue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas_neue/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/bebas_neue/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/bebas_neue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BevanRegular';
    src: url('../fonts/bevan/Bevan-webfont.eot');
    src: url('../fonts/bevan/Bevan-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bevan/Bevan-webfont.woff') format('woff'),
         url('../fonts/bevan/Bevan-webfont.ttf') format('truetype'),
         url('../fonts/bevan/Bevan-webfont.svg#BevanRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BitstreamVeraSansRoman';
    src: url('../fonts/bitstream_vera_sans/Vera-webfont.eot');
    src: url('../fonts/bitstream_vera_sans/Vera-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitstream_vera_sans/Vera-webfont.woff') format('woff'),
         url('../fonts/bitstream_vera_sans/Vera-webfont.ttf') format('truetype'),
         url('../fonts/bitstream_vera_sans/Vera-webfont.svg#BitstreamVeraSansRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BitstreamVeraSansOblique';
    src: url('../fonts/bitstream_vera_sans/Vera-Italic-webfont.eot');
    src: url('../fonts/bitstream_vera_sans/Vera-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitstream_vera_sans/Vera-Italic-webfont.woff') format('woff'),
         url('../fonts/bitstream_vera_sans/Vera-Italic-webfont.ttf') format('truetype'),
         url('../fonts/bitstream_vera_sans/Vera-Italic-webfont.svg#BitstreamVeraSansOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BitstreamVeraSansBold';
    src: url('../fonts/bitstream_vera_sans/Vera-Bold-webfont.eot');
    src: url('../fonts/bitstream_vera_sans/Vera-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitstream_vera_sans/Vera-Bold-webfont.woff') format('woff'),
         url('../fonts/bitstream_vera_sans/Vera-Bold-webfont.ttf') format('truetype'),
         url('../fonts/bitstream_vera_sans/Vera-Bold-webfont.svg#BitstreamVeraSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BitstreamVeraSansBoldOblique';
    src: url('../fonts/bitstream_vera_sans/Vera-Bold-Italic-webfont.eot');
    src: url('../fonts/bitstream_vera_sans/Vera-Bold-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitstream_vera_sans/Vera-Bold-Italic-webfont.woff') format('woff'),
         url('../fonts/bitstream_vera_sans/Vera-Bold-Italic-webfont.ttf') format('truetype'),
         url('../fonts/bitstream_vera_sans/Vera-Bold-Italic-webfont.svg#BitstreamVeraSansBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalligraffitiRegular';
    src: url('../fonts/calligraffiti/Calligraffiti-webfont.eot');
    src: url('../fonts/calligraffiti/Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calligraffiti/Calligraffiti-webfont.woff') format('woff'),
         url('../fonts/calligraffiti/Calligraffiti-webfont.ttf') format('truetype'),
         url('../fonts/calligraffiti/Calligraffiti-webfont.svg#CalligraffitiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CharisSILRegular';
    src: url('../fonts/charis_sil/CharisSILR-webfont.eot');
    src: url('../fonts/charis_sil/CharisSILR-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/charis_sil/CharisSILR-webfont.woff') format('woff'),
         url('../fonts/charis_sil/CharisSILR-webfont.ttf') format('truetype'),
         url('../fonts/charis_sil/CharisSILR-webfont.svg#CharisSILRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CharisSILItalic';
    src: url('../fonts/charis_sil/CharisSILI-webfont.eot');
    src: url('../fonts/charis_sil/CharisSILI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/charis_sil/CharisSILI-webfont.woff') format('woff'),
         url('../fonts/charis_sil/CharisSILI-webfont.ttf') format('truetype'),
         url('../fonts/charis_sil/CharisSILI-webfont.svg#CharisSILItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CharisSILBold';
    src: url('../fonts/charis_sil/CharisSILB-webfont.eot');
    src: url('../fonts/charis_sil/CharisSILB-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/charis_sil/CharisSILB-webfont.woff') format('woff'),
         url('../fonts/charis_sil/CharisSILB-webfont.ttf') format('truetype'),
         url('../fonts/charis_sil/CharisSILB-webfont.svg#CharisSILBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CharisSILBoldItalic';
    src: url('../fonts/charis_sil/CharisSILBI-webfont.eot');
    src: url('../fonts/charis_sil/CharisSILBI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/charis_sil/CharisSILBI-webfont.woff') format('woff'),
         url('../fonts/charis_sil/CharisSILBI-webfont.ttf') format('truetype'),
         url('../fonts/charis_sil/CharisSILBI-webfont.svg#CharisSILBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../fonts/chunkfive/Chunkfive-webfont.eot');
    src: url('../fonts/chunkfive/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive/Chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive/Chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DestroyRegular';
    src: url('../fonts/destroy/DESTROY_-webfont.eot');
    src: url('../fonts/destroy/DESTROY_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/destroy/DESTROY_-webfont.woff') format('woff'),
         url('../fonts/destroy/DESTROY_-webfont.ttf') format('truetype'),
         url('../fonts/destroy/DESTROY_-webfont.svg#DestroyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DevroyeRegular';
    src: url('../fonts/devroye/DEVROYE_-webfont.eot');
    src: url('../fonts/devroye/DEVROYE_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/devroye/DEVROYE_-webfont.woff') format('woff'),
         url('../fonts/devroye/DEVROYE_-webfont.ttf') format('truetype'),
         url('../fonts/devroye/DEVROYE_-webfont.svg#DevroyeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DevroyeExtraRegular';
    src: url('../fonts/devroye/DEVROYEX-webfont.eot');
    src: url('../fonts/devroye/DEVROYEX-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/devroye/DEVROYEX-webfont.woff') format('woff'),
         url('../fonts/devroye/DEVROYEX-webfont.ttf') format('truetype'),
         url('../fonts/devroye/DEVROYEX-webfont.svg#DevroyeExtraRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DevroyeRegular';
    src: url('../fonts/devroye/DEVROYSC-webfont.eot');
    src: url('../fonts/devroye/DEVROYSC-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/devroye/DEVROYSC-webfont.woff') format('woff'),
         url('../fonts/devroye/DEVROYSC-webfont.ttf') format('truetype'),
         url('../fonts/devroye/DEVROYSC-webfont.svg#DevroyeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DevroyeRegular';
    src: url('../fonts/devroye/DEVROYUN-webfont.eot');
    src: url('../fonts/devroye/DEVROYUN-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/devroye/DEVROYUN-webfont.woff') format('woff'),
         url('../fonts/devroye/DEVROYUN-webfont.ttf') format('truetype'),
         url('../fonts/devroye/DEVROYUN-webfont.svg#DevroyeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DistrictRegular';
    src: url('../fonts/district/District-webfont.eot');
    src: url('../fonts/district/District-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/district/District-webfont.woff') format('woff'),
         url('../fonts/district/District-webfont.ttf') format('truetype'),
         url('../fonts/district/District-webfont.svg#DistrictRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EBGaramondRegular';
    src: url('../fonts/eb_garamond/EBGaramond-webfont.eot');
    src: url('../fonts/eb_garamond/EBGaramond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eb_garamond/EBGaramond-webfont.woff') format('woff'),
         url('../fonts/eb_garamond/EBGaramond-webfont.ttf') format('truetype'),
         url('../fonts/eb_garamond/EBGaramond-webfont.svg#EBGaramondRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EBGaramondSC';
    src: url('../fonts/eb_garamond/EBGaramondSC-webfont.eot');
    src: url('../fonts/eb_garamond/EBGaramondSC-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eb_garamond/EBGaramondSC-webfont.woff') format('woff'),
         url('../fonts/eb_garamond/EBGaramondSC-webfont.ttf') format('truetype'),
         url('../fonts/eb_garamond/EBGaramondSC-webfont.svg#EBGaramondSC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ElliotSixRegular';
    src: url('../fonts/elliotsix/ElliotSix-webfont.eot');
    src: url('../fonts/elliotsix/ElliotSix-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/elliotsix/ElliotSix-webfont.woff') format('woff'),
         url('../fonts/elliotsix/ElliotSix-webfont.ttf') format('truetype'),
         url('../fonts/elliotsix/ElliotSix-webfont.svg#ElliotSixRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EraserRegular';
    src: url('../fonts/eraser/EraserRegular-webfont.eot');
    src: url('../fonts/eraser/EraserRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eraser/EraserRegular-webfont.woff') format('woff'),
         url('../fonts/eraser/EraserRegular-webfont.ttf') format('truetype'),
         url('../fonts/eraser/EraserRegular-webfont.svg#EraserRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FanwoodRegular';
    src: url('../fonts/fanwood/Fanwood-webfont.eot');
    src: url('../fonts/fanwood/Fanwood-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fanwood/Fanwood-webfont.woff') format('woff'),
         url('../fonts/fanwood/Fanwood-webfont.ttf') format('truetype'),
         url('../fonts/fanwood/Fanwood-webfont.svg#FanwoodRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FanwoodItalic';
    src: url('../fonts/fanwood/Fanwood-Italic-webfont.eot');
    src: url('../fonts/fanwood/Fanwood-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fanwood/Fanwood-Italic-webfont.woff') format('woff'),
         url('../fonts/fanwood/Fanwood-Italic-webfont.ttf') format('truetype'),
         url('../fonts/fanwood/Fanwood-Italic-webfont.svg#FanwoodItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FFFTusjBold';
    src: url('../fonts/fff_tusj/FFF_Tusj-webfont.eot');
    src: url('../fonts/fff_tusj/FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fff_tusj/FFF_Tusj-webfont.woff') format('woff'),
         url('../fonts/fff_tusj/FFF_Tusj-webfont.ttf') format('truetype'),
         url('../fonts/fff_tusj/FFF_Tusj-webfont.svg#FFFTusjBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GladifilthefteGladifilthefte';
    src: url('../fonts/gladifilthefte/Gladifilthefte-webfont.eot');
    src: url('../fonts/gladifilthefte/Gladifilthefte-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gladifilthefte/Gladifilthefte-webfont.woff') format('woff'),
         url('../fonts/gladifilthefte/Gladifilthefte-webfont.ttf') format('truetype'),
         url('../fonts/gladifilthefte/Gladifilthefte-webfont.svg#GladifilthefteGladifilthefte') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoudyBookletter1911Regular';
    src: url('../fonts/goudy_bookletter_1911/goudy_bookletter_1911-webfont.eot');
    src: url('../fonts/goudy_bookletter_1911/goudy_bookletter_1911-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/goudy_bookletter_1911/goudy_bookletter_1911-webfont.woff') format('woff'),
         url('../fonts/goudy_bookletter_1911/goudy_bookletter_1911-webfont.ttf') format('truetype'),
         url('../fonts/goudy_bookletter_1911/goudy_bookletter_1911-webfont.svg#GoudyBookletter1911Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarabaraHandItalic';
    src: url('../fonts/harabarahand/HarabaraHand-webfont.eot');
    src: url('../fonts/harabarahand/HarabaraHand-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/harabarahand/HarabaraHand-webfont.woff') format('woff'),
         url('../fonts/harabarahand/HarabaraHand-webfont.ttf') format('truetype'),
         url('../fonts/harabarahand/HarabaraHand-webfont.svg#HarabaraHandItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HillHouseMedium';
    src: url('../fonts/hill_house/Hill_House-webfont.eot');
    src: url('../fonts/hill_house/Hill_House-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hill_house/Hill_House-webfont.woff') format('woff'),
         url('../fonts/hill_house/Hill_House-webfont.ttf') format('truetype'),
         url('../fonts/hill_house/Hill_House-webfont.svg#HillHouseMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HoneyScriptLight';
    src: url('../fonts/honey_script/HoneyScript-Light-webfont.eot');
    src: url('../fonts/honey_script/HoneyScript-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/honey_script/HoneyScript-Light-webfont.woff') format('woff'),
         url('../fonts/honey_script/HoneyScript-Light-webfont.ttf') format('truetype'),
         url('../fonts/honey_script/HoneyScript-Light-webfont.svg#HoneyScriptLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ImpactLabelRegular';
    src: url('../fonts/impact_label/Impact_Label-webfont.eot');
    src: url('../fonts/impact_label/Impact_Label-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/impact_label/Impact_Label-webfont.woff') format('woff'),
         url('../fonts/impact_label/Impact_Label-webfont.ttf') format('truetype'),
         url('../fonts/impact_label/Impact_Label-webfont.svg#ImpactLabelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ImpactLabelReversedRegular';
    src: url('../fonts/impact_label/Impact_Label_Reversed-webfont.eot');
    src: url('../fonts/impact_label/Impact_Label_Reversed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/impact_label/Impact_Label_Reversed-webfont.woff') format('woff'),
         url('../fonts/impact_label/Impact_Label_Reversed-webfont.ttf') format('truetype'),
         url('../fonts/impact_label/Impact_Label_Reversed-webfont.svg#ImpactLabelReversedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JinkyRegular';
    src: url('../fonts/jinky/JINKY-webfont.eot');
    src: url('../fonts/jinky/JINKY-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jinky/JINKY-webfont.woff') format('woff'),
         url('../fonts/jinky/JINKY-webfont.ttf') format('truetype'),
         url('../fonts/jinky/JINKY-webfont.svg#JinkyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JustOldFashionRegular';
    src: url('../fonts/justoldfashion/JustOldFashion-webfont.eot');
    src: url('../fonts/justoldfashion/JustOldFashion-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/justoldfashion/JustOldFashion-webfont.woff') format('woff'),
         url('../fonts/justoldfashion/JustOldFashion-webfont.ttf') format('truetype'),
         url('../fonts/justoldfashion/JustOldFashion-webfont.svg#JustOldFashionRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KomikaTitleRegular';
    src: url('../fonts/komika_title/KomikaTitle-webfont.eot');
    src: url('../fonts/komika_title/KomikaTitle-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/komika_title/KomikaTitle-webfont.woff') format('woff'),
         url('../fonts/komika_title/KomikaTitle-webfont.ttf') format('truetype'),
         url('../fonts/komika_title/KomikaTitle-webfont.svg#KomikaTitleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KomikaTitle-PaintRegular';
    src: url('../fonts/komika_title/KomikaTitle-Paint-webfont.eot');
    src: url('../fonts/komika_title/KomikaTitle-Paint-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/komika_title/KomikaTitle-Paint-webfont.woff') format('woff'),
         url('../fonts/komika_title/KomikaTitle-Paint-webfont.ttf') format('truetype'),
         url('../fonts/komika_title/KomikaTitle-Paint-webfont.svg#KomikaTitle-PaintRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KomikaTitleWideRegular';
    src: url('../fonts/komika_title/KomikaTitle-Wide-webfont.eot');
    src: url('../fonts/komika_title/KomikaTitle-Wide-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/komika_title/KomikaTitle-Wide-webfont.woff') format('woff'),
         url('../fonts/komika_title/KomikaTitle-Wide-webfont.ttf') format('truetype'),
         url('../fonts/komika_title/KomikaTitle-Wide-webfont.svg#KomikaTitleWideRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KomikaTitleAxisRegular';
    src: url('../fonts/komika_title/KomikaTitle-Axis-webfont.eot');
    src: url('../fonts/komika_title/KomikaTitle-Axis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/komika_title/KomikaTitle-Axis-webfont.woff') format('woff'),
         url('../fonts/komika_title/KomikaTitle-Axis-webfont.ttf') format('truetype'),
         url('../fonts/komika_title/KomikaTitle-Axis-webfont.svg#KomikaTitleAxisRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KomikaTitleKapsRegular';
    src: url('../fonts/komika_title/KomikaTitle-Kaps-webfont.eot');
    src: url('../fonts/komika_title/KomikaTitle-Kaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/komika_title/KomikaTitle-Kaps-webfont.woff') format('woff'),
         url('../fonts/komika_title/KomikaTitle-Kaps-webfont.ttf') format('truetype'),
         url('../fonts/komika_title/KomikaTitle-Kaps-webfont.svg#KomikaTitleKapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KristiMedium';
    src: url('../fonts/kristi/Kristi-webfont.eot');
    src: url('../fonts/kristi/Kristi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kristi/Kristi-webfont.woff') format('woff'),
         url('../fonts/kristi/Kristi-webfont.ttf') format('truetype'),
         url('../fonts/kristi/Kristi-webfont.svg#KristiMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LindenHillRegular';
    src: url('../fonts/linden_hill/LindenHill-webfont.eot');
    src: url('../fonts/linden_hill/LindenHill-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linden_hill/LindenHill-webfont.woff') format('woff'),
         url('../fonts/linden_hill/LindenHill-webfont.ttf') format('truetype'),
         url('../fonts/linden_hill/LindenHill-webfont.svg#LindenHillRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LindenHillItalic';
    src: url('../fonts/linden_hill/LindenHill-Italic-webfont.eot');
    src: url('../fonts/linden_hill/LindenHill-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/linden_hill/LindenHill-Italic-webfont.woff') format('woff'),
         url('../fonts/linden_hill/LindenHill-Italic-webfont.ttf') format('truetype'),
         url('../fonts/linden_hill/LindenHill-Italic-webfont.svg#LindenHillItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarketingScriptRegular';
    src: url('../fonts/marketing_script/MarketingScript-webfont.eot');
    src: url('../fonts/marketing_script/MarketingScript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/marketing_script/MarketingScript-webfont.woff') format('woff'),
         url('../fonts/marketing_script/MarketingScript-webfont.ttf') format('truetype'),
         url('../fonts/marketing_script/MarketingScript-webfont.svg#MarketingScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MutluOrnamental';
    src: url('../fonts/mutlu/Mutlu__Ornamental-webfont.eot');
    src: url('../fonts/mutlu/Mutlu__Ornamental-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mutlu/Mutlu__Ornamental-webfont.woff') format('woff'),
         url('../fonts/mutlu/Mutlu__Ornamental-webfont.ttf') format('truetype'),
         url('../fonts/mutlu/Mutlu__Ornamental-webfont.svg#MutluOrnamental') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PowellAntiqueRegular';
    src: url('../fonts/powell_antique/PowellAntique-webfont.eot');
    src: url('../fonts/powell_antique/PowellAntique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/powell_antique/PowellAntique-webfont.woff') format('woff'),
         url('../fonts/powell_antique/PowellAntique-webfont.ttf') format('truetype'),
         url('../fonts/powell_antique/PowellAntique-webfont.svg#PowellAntiqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RieslingRegular';
    src: url('../fonts/riesling/riesling-webfont.eot');
    src: url('../fonts/riesling/riesling-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/riesling/riesling-webfont.woff') format('woff'),
         url('../fonts/riesling/riesling-webfont.ttf') format('truetype'),
         url('../fonts/riesling/riesling-webfont.svg#RieslingRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RomanCapsRegular';
    src: url('../fonts/roman_caps/Roman_SD-webfont.eot');
    src: url('../fonts/roman_caps/Roman_SD-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roman_caps/Roman_SD-webfont.woff') format('woff'),
         url('../fonts/roman_caps/Roman_SD-webfont.ttf') format('truetype'),
         url('../fonts/roman_caps/Roman_SD-webfont.svg#RomanCapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Scriptina-AlternatesRegular';
    src: url('../fonts/scriptina/scriptina_alt-webfont.eot');
    src: url('../fonts/scriptina/scriptina_alt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scriptina/scriptina_alt-webfont.woff') format('woff'),
         url('../fonts/scriptina/scriptina_alt-webfont.ttf') format('truetype'),
         url('../fonts/scriptina/scriptina_alt-webfont.svg#Scriptina-AlternatesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ScriptinaRegular';
    src: url('../fonts/scriptina/scriptina-webfont.eot');
    src: url('../fonts/scriptina/scriptina-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/scriptina/scriptina-webfont.woff') format('woff'),
         url('../fonts/scriptina/scriptina-webfont.ttf') format('truetype'),
         url('../fonts/scriptina/scriptina-webfont.svg#ScriptinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SeasideResortNFRegular';
    src: url('../fonts/seasideresortnf/SEASRN__-webfont.eot');
    src: url('../fonts/seasideresortnf/SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/seasideresortnf/SEASRN__-webfont.woff') format('woff'),
         url('../fonts/seasideresortnf/SEASRN__-webfont.ttf') format('truetype'),
         url('../fonts/seasideresortnf/SEASRN__-webfont.svg#SeasideResortNFRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFWonderComicRegular';
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic-webfont.eot');
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic-webfont.woff') format('woff'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic-webfont.ttf') format('truetype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic-webfont.svg#SFWonderComicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFWonderComicItalic';
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Italic-webfont.eot');
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Italic-webfont.woff') format('woff'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Italic-webfont.ttf') format('truetype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Italic-webfont.svg#SFWonderComicItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFWonderComicBold';
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Bold-webfont.eot');
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Bold-webfont.woff') format('woff'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Bold-webfont.ttf') format('truetype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Bold-webfont.svg#SFWonderComicBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFWonderComicBoldItalic';
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Bold_Italic-webfont.eot');
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Bold_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Bold_Italic-webfont.woff') format('woff'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Bold_Italic-webfont.ttf') format('truetype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Bold_Italic-webfont.svg#SFWonderComicBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFWonderComicInlineRegular';
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Inline-webfont.eot');
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Inline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Inline-webfont.woff') format('woff'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Inline-webfont.ttf') format('truetype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Inline-webfont.svg#SFWonderComicInlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFWonderComicInlineItalic';
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Inline_Italic-webfont.eot');
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Inline_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Inline_Italic-webfont.woff') format('woff'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Inline_Italic-webfont.ttf') format('truetype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Inline_Italic-webfont.svg#SFWonderComicInlineItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFWonderComicBlotchRegular';
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Blotch-webfont.eot');
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Blotch-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Blotch-webfont.woff') format('woff'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Blotch-webfont.ttf') format('truetype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Blotch-webfont.svg#SFWonderComicBlotchRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFWonderComicBlotchItalic';
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Blotch_Italic-webfont.eot');
    src: url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Blotch_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Blotch_Italic-webfont.woff') format('woff'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Blotch_Italic-webfont.ttf') format('truetype'),
         url('../fonts/sf_wonder_comic/SF_Wonder_Comic_Blotch_Italic-webfont.svg#SFWonderComicBlotchItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SlingNormal';
    src: url('../fonts/sling/Sling-webfont.eot');
    src: url('../fonts/sling/Sling-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sling/Sling-webfont.woff') format('woff'),
         url('../fonts/sling/Sling-webfont.ttf') format('truetype'),
         url('../fonts/sling/Sling-webfont.svg#SlingNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SlingLight';
    src: url('../fonts/sling/SlingLight-webfont.eot');
    src: url('../fonts/sling/SlingLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sling/SlingLight-webfont.woff') format('woff'),
         url('../fonts/sling/SlingLight-webfont.ttf') format('truetype'),
         url('../fonts/sling/SlingLight-webfont.svg#SlingLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SlingBold';
    src: url('../fonts/sling/SlingBold-webfont.eot');
    src: url('../fonts/sling/SlingBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sling/SlingBold-webfont.woff') format('woff'),
         url('../fonts/sling/SlingBold-webfont.ttf') format('truetype'),
         url('../fonts/sling/SlingBold-webfont.svg#SlingBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SnicklesRegular';
    src: url('../fonts/snickles/Snickles-webfont.eot');
    src: url('../fonts/snickles/Snickles-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/snickles/Snickles-webfont.woff') format('woff'),
         url('../fonts/snickles/Snickles-webfont.ttf') format('truetype'),
         url('../fonts/snickles/Snickles-webfont.svg#SnicklesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SouciSansRegular';
    src: url('../fonts/soucisans/SOUCISAN-webfont.eot');
    src: url('../fonts/soucisans/SOUCISAN-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/soucisans/SOUCISAN-webfont.woff') format('woff'),
         url('../fonts/soucisans/SOUCISAN-webfont.ttf') format('truetype'),
         url('../fonts/soucisans/SOUCISAN-webfont.svg#SouciSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TendernessRegular';
    src: url('../fonts/tenderness/Tenderness-webfont.eot');
    src: url('../fonts/tenderness/Tenderness-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tenderness/Tenderness-webfont.woff') format('woff'),
         url('../fonts/tenderness/Tenderness-webfont.ttf') format('truetype'),
         url('../fonts/tenderness/Tenderness-webfont.svg#TendernessRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UpperEastSideRegular';
    src: url('../fonts/uppereastside/UpperEastSide-webfont.eot');
    src: url('../fonts/uppereastside/UpperEastSide-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/uppereastside/UpperEastSide-webfont.woff') format('woff'),
         url('../fonts/uppereastside/UpperEastSide-webfont.ttf') format('truetype'),
         url('../fonts/uppereastside/UpperEastSide-webfont.svg#UpperEastSideRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VAG-HandWritteVAG-HandWritten';
    src: url('../fonts/vag_handwritten/VAG-HandWritten-webfont.eot');
    src: url('../fonts/vag_handwritten/VAG-HandWritten-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vag_handwritten/VAG-HandWritten-webfont.woff') format('woff'),
         url('../fonts/vag_handwritten/VAG-HandWritten-webfont.ttf') format('truetype'),
         url('../fonts/vag_handwritten/VAG-HandWritten-webfont.svg#VAG-HandWritteVAG-HandWritten') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WindsongRegular';
    src: url('../fonts/windsong/Windsong-webfont.eot');
    src: url('../fonts/windsong/Windsong-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/windsong/Windsong-webfont.woff') format('woff'),
         url('../fonts/windsong/Windsong-webfont.ttf') format('truetype'),
         url('../fonts/windsong/Windsong-webfont.svg#WindsongRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
